/* == Misc == */
body {
    background-color:#191a1b;
    color: #f5f4ef;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}
div, section, p {
    margin: 0%;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #878681;
}
.color-secondary {
    background-color:#e6e5e4;
    color: #191a1b;
}
.mockup-hr {
  height: 2px;                   
  background-color: rgb(255, 255, 255);      
  border-radius: 5px;            
  width: 80%;     
  margin-left: auto;
  margin-right: auto;               
}

/* == Text/Headlines == */
html {font-size: 16px;} 
h1 {font-size: 3rem;}  
h2 {font-size: 1.5rem;}
p  {
    font-size: 1rem; 
    margin-bottom: 0.5rem;
} 
.left {text-align: left; }
.center { text-align: center;}
.right {text-align: right;}

/* == Spacing == */
.padding-left {padding-left: 2.5%;}
.padding-right {padding-right: 2.5%;}
.padding-top {padding-right: 2.5%;}
.padding-bottom {padding-right: 2.5%;}
.margin-left {margin-left: 2.5%;}
.margin-right {margin-right: 2.5%;}
.margin-top {margin-top: 2.5%;}
.margin-bottom {margin-bottom: 2.5%;}
.spacer {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* == Header == */
header {
    display: flex;         
    justify-content: center;
    align-items: center;   
    height: 80px;     
}
header a,header a:visited {
    display: inline-block; 
    margin: 10px;
    font-size: 24px;
    color: #f5f4ef;
    opacity: 0.65;
    text-decoration: none;
}
header a:hover {
    transition: border-width 0.4s;
    transition: transform 0.4s;
    transform: scale(1.15);
    opacity: 1;
}

/* == Footer == */
footer {
    display: flex;         
    flex-wrap: wrap; 
    flex-direction: row;     
    justify-content: center;
}

/* == Container == */
.container-row{
  display: flex;         
  flex-wrap: wrap; 
  flex-direction: row;     
  justify-content: center;
  gap: 5%;
}
.container-column{
  display: flex;         
  flex-wrap: wrap; 
  flex-direction: column;     
  justify-content: center;
  gap: 5%;
}
.container-profile{
  display: flex;         
  flex-wrap: wrap; 
  flex-direction: row;     
  justify-content: center;
  gap: 5%;
}
.sub-container{
  max-width: 600px;
  border: 10px #191a1b;
  border-radius: 20px;
  word-wrap: break-word;        /* break for long words */
  overflow-wrap: break-word;    /* fallback for other browsers */
}

/* == Profile == */
.profile h2 {
    display: flex;
    justify-content: center;
}
.profile-picture-wrapper {
    width: 500px;
    height: 500px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.profile-picture {
    width: 750px; 
    height: auto;
    position: absolute;
    top: -10px; 
    left: -70px; 
}

/* == Debugging == 

    * {
        border: 1px solid rgb(225, 105, 255);
    }
      
    div {
        border: 1px solid rgb(66, 255, 129);
    }
    
    section {
        border: 5px solid rgb(106, 204, 249);
    }